{% extends 'user/home_layout.html' %}

{% block customcss %}
  style="background-color:white;"
{% endblock %}

{% block content %}
<div class="content">
  <h3>Welcome {{ deets.user_fname }} !</h3>
  {{deets}}
  <p>This is your dashboard, please use the second-level menu to carry out tasks</p>
 </div>

 {% set m = get_flashed_messages(with_categories=True) %}
    {% if m %}
      {% for cat,msg in m %}
      {% if cat =='error' %}
        <div class="alert alert-info noround"> {{ msg }} </div>
      {% else %}
        <div class="alert alert-info noround"> {{ msg }} </div>
      {% endif %}
    {% endfor %}
    {% endif %}
    

{% endblock content %}

