<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Moat Academy Cohort 26"> 
    <title>Moat Dev Fest 2024</title>

<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="static/heroes.css" rel="stylesheet">
  </head>
  <body> 

    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="static/images/logo_white.png" height="30" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link text-white active" aria-current="page" href="home_layout.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#partner">Accomodation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#breakout">Breakout Sessions</a>
            </li>
          
          </ul>
          <form class="d-flex" role="search">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
             
              <li class="nav-item">
                <a class="btn btn-dark noround" href="donations.html">Donate</a>
              </li>
              
            </ul>
          </form>
        </div>
      </div>
    </nav>
    <br>   

<main>
 <!-- from here till topmost top as header.php-->


<div class="container col-md-10 py-5">
  
  <!--menu for logged in user-->
    <header class="p-3 border-bottom">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          
            <ul class="member nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-start mb-md-0">
              <li><a href="dashboard.html" class="nav-link px-2 " style="color:#FF5714">Dashboard</a></li>
              <li><a href="conversation.html" class="nav-link px-2 link-dark">Conversations</a></li>
              <li><a href="mybreakout.html" class="nav-link px-2 link-dark">My Sessions</a></li>
              <li><a href="donations.html" class="nav-link px-2 link-dark">Transaction History</a></li>
            
            </ul>

            
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="static/images/mdo.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="changedp.html">Upload DP</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
    </header>
  <!--menu for logged in user-->

 <!--banner-->
    <div class="row flex-lg-row-reverse align-items-center g-5" >
      <div class="col-12 col-sm-5 col-lg-5">
        <video width="100%" autoplay muted loop>
          <source src="static/videos/hero.mp4" type="video/mp4">
        </video>
        <!-- <img src="static/images/sw.png" class="d-block mx-lg-auto img-fluid" alt="Developer Sample"> -->
      </div>
      <div class="col-lg-7 col-sm-7">
        <h1 class="display-5 fw-bold lh-1 mb-3">MOAT DEV FEST 2024</h1>
        <p class="lead">Introducing the largest Developer's Conference across sub-Sahara Africa! <br>A full-stack, tech-obsessed conference full of fun, code-loving humans who share and learn together. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn custom-btn px-4 me-md-2">Register Me</button>
          <a href="login.html" class="btn btn-outline-dark noround px-4">Login</a>
        </div>
      </div>
    </div>
<!--end banner-->

</div>

<!--The home page can populate the following for other contents like partner hotel-->


<!--breakout session-->
<div class="layout" id="breakout">
  
    <div class="container-fluid px-4 pt-5" id="custom-cards" style="background-color: white;">
     <div style="width:86%; margin:auto">
      <h2 class="pb-2 border-bottom heading-text">Popular Breakout Sessions</h2>
  
      <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
        <div class="col">
         <img src="static/images/3.png" class="img-fluid bk" alt="">    
         <div class="deets"><h6>Session and Cookies </h6>
          <p><i>Senior Category</i> <a href="">120 Seats</a></p>                  
         </div>  
         </div>
  
        <div class="col">
          <img src="static/images/4.png" class="img-fluid bk" alt="">  
           <div class="deets"><h6>Authentication  </h6>
            <p><i>Senior Category</i> <a href="">34 Seats</a></p>    
        
         </div>         
         </div>
         <div class="col">
          <img src="static/images/11.png" class="img-fluid bk" alt="">  
           <div class="deets"><h6>The Low Hanging Fruits </h6>
            <p><i>Junior Category</i> <a href="">80 Seats</a></p>   
        
         </div>         
         </div>
         <div class="col">
          <img src="static/images/4.png" class="card-img-top bk" alt=""> 
           <div class="deets"><h6>The Day is Bright </h6>
            <p><i>Intermediate Category</i> <a href="">80 Seats</a></p>    
        
         </div>          
         </div>
            
      </div>
    </div>
    </div> 
</div>
<!--end breakout session--> 

<!--conversation call to action-->
<div class="container mt-5" id="conversation">
      <h3 class="pb-2 border-bottom heading-text my-4">Join the Conversation</h3>
      <div class="row justify-content-around mx-0">
        <div class="col-md-6 mb-4">
          <img src="static/images/senior_dev.png" alt="image1" class="img-fluid">
          
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-12">
              <img src="static/images/junio.png" alt="image2" class="img-fluid">
             
            </div>
            <div class="col-12 my-4">
              <img src="static/images/inter.png" alt="image3" class="img-fluid">
          
            </div>
          </div>
        </div>
      </div>
</div>
<div class="row justify-content-center my-4 ">
      <div class="col-12 text-center">
        <a href="conversation.html" class="noround btn btn-outline-dark">MAKE A POST</a>
      </div>
</div>
<!--end conversation call to action-->




<!--partner hotel-->
<div class="layout" style="margin-top:60px" id="partner">
  
  <div class="container px-4" id="custom-cardx">
    <h2 class="pb-2 border-bottom heading-text">Partner Accomodations</h2>

    <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
      <div class="col">
       <img src="static/images/store1.jpg" class="img-fluid jiji" alt="">    
       <div class="deets">
        <h6>Lakefront Hotel</h6>
       </div>  
       </div>

    <div class="col">
       <img src="static/images/h3.jpg" class="img-fluid jiji" alt="">    
       <div class="deets">
        <h6>Premier Hotel, Ibadan</h6>
       </div>  
       </div>
      <div class="col">
       <img src="static/images/h1.jpg" class="img-fluid jiji" alt="">    
       <div class="deets">
        <h6>Greenspring Hotels</h6>
       </div>  
       </div>
     <div class="col">
       <img src="static/images/h2.jpg" class="img-fluid jiji" alt="">    
       <div class="deets">
        <h6>Fela Shrine</h6>
       </div>  
       </div>
          
    </div>
  </div> 
 </div>
 <!--end partner hotel-->

 <!--- End of Extra independent sessions that home page may wish to populate-->

 <!-- From here till end as footer.php-->
<!-- FOOTER -->
<footer class="container" style="height:100px; line-height:100px;">
  <p class="float-end"><a href="#" style="color:#FF5714">Back to top</a></p>
  <p>&copy; 2023-2024 Moat Academy Cohort 26 Class Project</p>
</footer>

</main>

<script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>   
  </body>
</html>
