{% extends 'user/home_layout.html' %}

{% block content%}
     
<div class="content" style="background-color: white;padding:3em">
    <h3>Edit Your Profile</h3>
    <form enctype="multipart/form-data" method="post">
     
   <div class="form-group row">
    <div class="col-md-6 mb-3">
        <label for="fname">FirstName </label>
        <input class="form-control border-dark noround" id="fname" name="fname" required type="text" value=" {{ deets.user_fname }} " >
    
    </div>
    <div class="col-md-6 mb-3">
        <label for="lname">LastName</label>
        <input class="form-control border-dark noround" id="lname" name="lname" required type="text"  value=" {{ deets.user_lname }} ">
    
    </div>
   </div>
   <div class="form-group row">
    <div class="col-md-6 mb-3">
        <label for="phone">Phone</label>
        <input class="form-control border-dark noround" id="phone" name="phone" required type="text" value="{{ deets.user_phone }}">
    
    </div>
    <div class="col-md-6 mb-3">
        <label for="lname">Category</label>
        <select name="level" id="level" class="form-control border-dark noround">
            <option value="">Select One</option>
            {% for d in devs %}
            {% if d.level_id ==deets.user_levelid %}
            <option value="{{ d.level_id }}" selected> {{ d.level_name }} </option>
            {% else %}
            <option value="{{ d.level_id }}"> {{ d.level_name }} </option>
            {% endif %}
            {% endfor %}
           </select>
    
    </div>

   </div>
   <hr>

   <div class="mb-3">
<h6>Your Programming Language(s)</h6>
  
   </div>
    <div class="mb-3"> 
      <input class="btn custom-btn noround" id="btnsubmit" name="btnsubmit" type="submit" value="Update Profile!">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </div>
   
    </form>
 </div>

  </div>

 
{% endblock content %}

{% block breakout %} {% endblock %}


<!-- end more content-->
  
