{% extends "user/home_layout.html" %}


{% block content %}

   <div class="content">
    


    <div class="row g-5"> 
     

    <div class="col-md-12">
      {% set m = get_flashed_messages(with_categories=True) %}
    {% if m %}
      {% for cat,msg in m %}
      {% if cat =='error' %}
        <div class="alert alert-info noround"> {{ msg }} </div>
      {% else %}
        <div class="alert alert-info noround"> {{ msg }} </div>
      {% endif %}
    {% endfor %}
    {% endif %}
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
      Register for Breakout Sessions ({{ deets.myleveldeets.level_name }})
      </h3>

  <form method="POST", action="/breakout">
    
    {% if topics: %}
    <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col"> <input class="form-check-input border-dark" type="checkbox" value="" id="all"> </th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
           
          </tr>
        </thead>
        <tbody>
          {% for t in topics %}
          <tr>
            <th scope="row"> <input class="form-check-input border-dark" type="checkbox" value="{{ t.break_id }}" name="topicid" id=""></th>
            <td> {{ t.break_title }} </td>
            <td>{{ t.breakleveldeets.level_name }}</td>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
{% else: %}
<div class="alert alert-info"> No breakout topic found, please click here to update your profile </div>

{% endif %}
<div class="row">
    <div class="col-md-11">
        <div style="text-align:right">
            <button class="btn custom-btn noround">Cancel</button>
            <button class="btn btn-dark noround">Continue</button>
         </div>
    </div>
</div>

  </form>
 
       
     


    </div>

   

  </div>



   </div>

   {% endblock %}
   {% block breakout %} {% endblock %}

   {% block conversation %} {% endblock %}
   
   {% block partner %} {% endblock %}