{% extends "admin/admin_layout.html" %}

{% block admincontent %}
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">All Break-out Topics</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Breakout Topics</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                            Presentation, discussion, or activity that takes place as part of a larger event for which some of the event's participants temporarily separate themselves from the others. 
                               &nbsp;&nbsp; <a href="/admin/addtopic" class="btn btn-outline-primary">Add Topic</a>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                               Topics Created
                            </div>
                            <div class="card-body">
                               <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Level</th>
      <th scope="col">Cover</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for t in alltopics:%}
    <tr>
      <th scope="row"> {{  loop.index }} </th>
      <td>{{ t.break_title }}</td>
      <td> {{ t.break_level }} </td>
      <td><img src="/static/uploads/{{t.break_image}}" height="40"></td>
      <td><a href="" class="btn btn-sm btn-primary">Edit</a> <a href="" class="btn btn-sm btn-danger">Delete</a> <a href="" class="btn btn-sm btn-success">Published</a></td>
    </tr>
     {% endfor %}
    
  </tbody>
</table>
                            </div>
                        </div>
                    </div>
                </main>


                {% endblock %}
               